/*
 * pludg base_styles
 * 2017/12/15
 *
 */
/*
 * Window
 * - showing the background
 * - restructuring: set the width manually in html
 */
.window {
  visibility: hidden;
  width: 100%;
  height: 400px; }

/*
 * Intro
 * - introduces the page content
 */
.intro {
  display: block;
  width: 100%;
  margin: 0px;
  margin-top: -2px;
  padding: 0px; }

.intro-headline-backface {
  background-color: white;
  position: relative;
  height: 4rem;
  opacity: 0.5;
  margin: 0px;
  padding: 0.2rem 0rem 0.1rem 0rem; }

.intro-headline {
  color: #555;
  opacity: 1.0; }

.intro-infos {
  color: white;
  opacity: 0.8; }

.intro-image {
  width: 100%;
  height: 400px;
  position: relative;
  z-index: -1; }

.about {
  display: block;
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 1.2rem;
  background-color: #333440; }
  .about hr {
    margin: 5px 0px;
    border-color: #cba; }

.about-container {
  padding-bottom: 16px;
  z-index: 10; }

.about-headline-container {
  display: block;
  margin-top: -3.4rem;
  padding: 0.2rem;
  padding-left: 1.25rem; }

.about-headline {
  font-size: 2rem; }

.about-description {
  font-size: 1.1rem;
  padding: 0rem 0.5rem 0rem 0.5rem;
  margin-bottom: 0px; }

.site-nav-wrapper {
  position: sticky;
  top: 60px;
  float: right; }

@media screen and (max-width: 1279px) {
  .site-nav-wrapper {
    display: none; } }
.site-nav {
  display: inline-block;
  list-style: none;
  background-color: #e2e2e2;
  border-radius: 0px;
  padding: 0.5rem;
  margin: 0px; }

.site-nav-item {
  display: inline;
  margin: 0rem 0.4rem; }
  .site-nav-item a:hover {
    text-decoration: none;
    opacity: 0.5; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1.0; } }
.intro {
  /* background-image: url("../images/pls_main.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */ }

h1, h2, h3, h4 {
  animation: 3s 1 alternate fadeIn; }

/* fixed navbar anchor jump correction class 
 * -- todo
 * -- add media query for responivness
*/
.ref-anch {
  margin-top: -57px;
  padding-top: 57px; }

header p {
  margin-bottom: 0; }

address {
  font-size: 0.8rem; }

/*
 *  class to compensate the fixed positioned navbar
 *  the 43px were tested
 *  todo: evaluate the criteria which define the navbars container size
 *  -> navbar padding was the biatch
 */
.fixed-navbar-downpush {
  margin-top: 43px; }

@media screen and (min-width: 767px) {
  .fixed-navbar-downpush {
    margin-top: 59px; } }
.navbar {
  padding: 0.1rem 0.4rem; }

@media screen and (max-width: 767px) {
  .navbar-details {
    display: none; } }
.navbar-sticky {
  position: sticky;
  top: 0px;
  z-index: 999; }

.navbar-details {
  margin: 0px;
  margin-right: 1rem;
  width: 100%;
  padding: 1rem 1rem 0rem 1rem;
  color: #456;
  font-size: 1rem;
  background-image: url("../images/pl_footer_alpha.png");
  background-size: auto 80%;
  background-position: bottom right;
  background-repeat: no-repeat; }

/*
 *  Coloring classes
 */
/* backgrounds */
.bg-primary {
  background-color: indigo !important; }

a.bg-primary:focus, a.bg-primary:hover {
  background-color: #0062cc !important; }

.bg-secondary {
  background-color: #868e96 !important; }

a.bg-secondary:focus, a.bg-secondary:hover {
  background-color: #6c757d !important; }

.bg-pale {
  background-color: #900040 !important; }

.bg-light-darker {
  background-color: #eeeff0; }

.bg-pludg-light {
  background-color: #f3f3f3; }

/* text colors */
.font-pludg-dark {
  color: #663a51; }

.font-pale {
  color: #900040; }

/* random */
.icon-wrapper {
  display: inline-block;
  padding: 0px; }

/* site footer styles */
#m_footer {
  color: white;
  padding: 20px 20px 5px 20px;
  clear: both; }

.pludg-footer {
  background-image: url("../images/pl_footer_alpha.png");
  background-size: auto 80%;
  background-position: bottom right;
  background-repeat: no-repeat; }

@media screen and (max-width: 767px) {
  .pludg-footer {
    background-size: auto 50%; } }

/*# sourceMappingURL=basestyles.css.map */
