
/*
 * pludg base_styles
 * 2017/12/15
 *
 */

address {
    font-size: 0.8rem;
}

/*
 *  class to compensate the fixed positioned navbar
 *  the 43px were tested
 *  todo: evaluate the criteria which define the navbars container size
 *  -> navbar padding was the biatch
 */
.fixed-navbar-downpush {
    margin-top: 43px;
}

.navbar {
    padding: 0.1rem 0.4rem;
}

.content-header {
    padding: 0.5rem 0rem
}

/* site header styles */

.bg-primary {
  background-color: indigo !important;
}

a.bg-primary:focus, a.bg-primary:hover {
  background-color: #0062cc !important;
}

.bg-secondary {
  background-color: #868e96 !important;
}

a.bg-secondary:focus, a.bg-secondary:hover {
  background-color: #6c757d !important;
}

.bg-pale {
    background-color: #900040 !important;
}

.icon-wrapper {
    display: inline-block;
    padding: 0px;
}

/* navigation styles */
/*
#navigation_wrapper {
    background-color: #1a1a1a;
    color: white;
    margin: 0px;
    display: block;
}

#nav_bar {
    list-style: none;
}

#nav_bar > li {
    display: inline-block;
    padding: 0px 5px 0px 5px;
}

#nav_bar a {
    color: white;
}
*/

/* main content styles */

#m_content {
    /*
    width: 1000px;
    margin: auto;
    */
}

.main-content-container {
    max-width: 1000px;
}


/* site footer styles */

#m_footer {
    color: white;
    padding: 20px 20px 5px 20px;
    clear: both;
}

#m_footer h1,p {
    
}
