
/*
 * pludg base_styles
 * 2017/12/15
 *
 */

body {
    background-color: #1a1a1a;
}

/* site header styles */
#m_header {
    background-color: #1a1a1a;
    color: white;
    margin: 0px;
    padding: 20px 20px 5px 20px;
    display: block;
}

/* navigation styles */
#navigation_wrapper {
    background-color: #1a1a1a;
    color: white;
    margin: 0px;
    display: block;
}

#nav_bar {
    list-style: none;
}

#nav_bar > li {
    display: inline-block;
    padding: 0px 5px 0px 5px;
}

#nav_bar a {
    color: white;
}

/* main content styles */

#m_content {
    /*
    width: 1000px;
    margin: auto;
    */
    background-color: white;
}


/* site footer styles */

#m_footer {
    background-color: #1a1a1a;
    color: white;
    padding: 20px 20px 5px 20px;
    clear: both;
}

#m_footer h1,p {
    
}
