/*
 * pludg home styles
 * 2017/12/15
 *
 */

/* content styles */

.article-wrapper {
    
}

.reference {
    padding: 1rem;
}

.reference > h1,h2,h3,h4,h5,h6 {
    color: #555;
    font-size: 1.7rem;
}

.reference > p {
    color: #444;
    padding: 0.5rem 0rem;
}

.reference > a {
    color: #aaa;
}

.reference > a:hover {
    color: indigo;
    text-decoration: none;
}